<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.omniflow.mapper.DeliveryMapper">

    <resultMap type="com.ruoyi.omniflow.domain.Delivery" id="DeliveryResult">
        <result property="id"                column="id"                 />
        <result property="orderId"           column="order_id"            />
        <result property="deliveryType"      column="delivery_type"       />
        <result property="deliveryPlatformId" column="delivery_platform_id"/>
        <result property="trackingNo"        column="tracking_no"         />
        <result property="status"            column="status"              />
        <result property="createBy"          column="create_by"           />
        <result property="createTime"        column="create_time"         />
        <result property="updateBy"          column="update_by"           />
        <result property="updateTime"        column="update_time"         />
    </resultMap>

    <sql id="selectDeliveryVo">
        select id, order_id, delivery_type, delivery_platform_id, tracking_no, status, create_by, create_time, update_by, update_time
        from omni_delivery
    </sql>

    <select id="selectDeliveryList" parameterType="com.ruoyi.omniflow.domain.Delivery" resultMap="DeliveryResult">
        <include refid="selectDeliveryVo"/>
        <where>
            <if test="orderId != null"> and order_id = #{orderId}</if>
            <if test="deliveryType != null and deliveryType != ''"> and delivery_type = #{deliveryType}</if>
            <if test="deliveryPlatformId != null"> and delivery_platform_id = #{deliveryPlatformId}</if>
            <if test="trackingNo != null and trackingNo != ''"> and tracking_no like concat('%', #{trackingNo}, '%')</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectDeliveryById" parameterType="Long" resultMap="DeliveryResult">
        <include refid="selectDeliveryVo"/>
        where id = #{id}
    </select>

    <insert id="insertDelivery" parameterType="com.ruoyi.omniflow.domain.Delivery" useGeneratedKeys="true" keyProperty="id">
        insert into omni_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="deliveryType != null and deliveryType != ''">delivery_type,</if>
            <if test="deliveryPlatformId != null">delivery_platform_id,</if>
            <if test="trackingNo != null and trackingNo != ''">tracking_no,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="deliveryType != null and deliveryType != ''">#{deliveryType},</if>
            <if test="deliveryPlatformId != null">#{deliveryPlatformId},</if>
            <if test="trackingNo != null and trackingNo != ''">#{trackingNo},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDelivery" parameterType="com.ruoyi.omniflow.domain.Delivery">
        update omni_delivery
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="deliveryType != null and deliveryType != ''">delivery_type = #{deliveryType},</if>
            <if test="deliveryPlatformId != null">delivery_platform_id = #{deliveryPlatformId},</if>
            <if test="trackingNo != null and trackingNo != ''">tracking_no = #{trackingNo},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeliveryById" parameterType="Long">
        delete from omni_delivery where id = #{id}
    </delete>

    <delete id="deleteDeliveryByIds" parameterType="String">
        delete from omni_delivery where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
